<!-- extend base.html from other templates to get a cohesive looking app -->
<html>
  <head>
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    {% if title %}
    <title>{{ title }} - blog</title>
    {% else %}
    <title>blog</title>
    {% endif %}
  </head>
  <body>

    <!-- navbar items in here -->
    <div>
      Blog:
      <a href="{{ url_for('index') }}">Home</a>
      <!-- is_anonymous property is added by Flask-Login through the UserMixin, returns True when user is not logged in -->
      {% if current_user.is_anonymous %}
      <a href="{{ url_for('login') }}">Login</a>
      {% else %}
      <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
      <a href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
      <a href="{{ url_for('explore') }}">Explore</a>
    </div>

    <!-- flash messages under the nav bar -->
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <!-- content of other templates will be inserted in the block -->
    {% block content %}{% endblock %}
  </body>
</html>
